<launch>
  <arg name="drive_speed" default="0.27" />
  <arg name="turn_speed" default="0.2" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="cmd_topic" default="cmd_vel" />
  <arg name="host" default="192.168.2.102" />
  <!-- IMU -->
  <arg name="frame" default="xsens" />
  <!-- Camera -->
  <arg name="camera_name" default="axis" />
  <arg name="hostname" default="192.168.2.105" />
  <arg name="enable_theora" default="0" />
  <arg name="enable_ptz" default="0" />
  <arg name="enable_ptz_teleop" default="0" />
  <arg name="config_locks"  default="$(find twist_mux)/config/twist_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find twist_mux)/config/twist_mux_topics.yaml"/>

  <!-- Lidar -->
  <node pkg="lms1xx_driver" name="lms1xx" type="lms1xx_node">
    <param name="host" value="$(arg host)" />
  </node>

  <node pkg="robot_odom_subs" name="odom_listener" type="odom_listener">
    <param name="host" value="$(arg host)" />
  </node>

  <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher">
      <param name="host" value="$(arg host)" />
    </node>

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
    <param name="turn_scale" value="$(arg turn_speed)" />
    <param name="drive_scale" value="$(arg drive_speed)" />
    <remap from="cmd_vel" to="joy_vel" />
  </node>

  <node pkg="diff_drive_controller" type="base_controller_node" name="base_controller_node"/>
  <node pkg="kangaroo_driver" type="kangaroo_driver_node" name="kangaroo_driver_node"/>
  <node pkg="diff_drive_controller" type="base_pose_node" name="base_pose_node"/>

  <!-- Offset -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.24 0 0.18 0 0 0 base_link laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_IMU" args="0.24 0.043 0.025 -1.57 0 0 base_link IMU 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_cam" args="0.24 0 0.065 0 0 0 base_link axis/image_raw/compressed 100" />



<!-- IMU -->
<node pkg="mtig_driver" type="mtig_driver_node" name="mtig_driver" respawn="true" >
		<!-- Error parameters /-->
		<param name="roll_error" value="0.2" />
		<param name="pitch_error" value="0.2" />
		<param name="yaw_error" value="1.0" />
		<param name="acc_noise" value="0.00015" />
		<param name="gyr_noise" value="0.01" />

		<!-- Frame Parameter /-->
		<param name="frame_id" value="$(arg frame)" />

		<param name="override" value="true"/>

		<!-- Module Setup Parameters /-->
		<param name="orientation_enabled" value="true"/>
		<param name="orientation_frequency" value="100"/>
		<param name="gps_enabled" value="false"/>
		<param name="gps_frequency" value="20"/>
		<param name="temperature_enabled" value="false"/>
		<param name="temperature_frequency" value="20"/>
		<param name="acceleration_enabled" value="true"/>
		<param name="acceleration_frequency" value="100"/>
		<param name="pressure_enabled" value="true"/>
		<param name="pressure_frequency" value="20"/>
		<param name="magnetic_enabled" value="true"/>
		<param name="magnetic_frequency" value="20"/>
		<param name="altitude_enabled" value="true"/>
		<param name="altitude_frequency" value="20"/>
		<param name="velocity_enabled" value="true"/>
		<param name="velocity_frequency" value="100"/>
		<param name="gyroscope_enabled" value="true"/>
		<param name="gyroscope_frequency" value="100"/>

		<!-- Remapping IMU data for pose ekf to recognise-->
		<remap from="xsens/imu" to="imu_data"/>
	</node>



<!-- Combining IMU and encoder-->

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>

<!-- Run map server -->
<node pkg="map_server" type="map_server" name="map_server" args="$(find robot)/map/map.yaml"/>

<!-- Localisation -->
<node pkg="amcl" type="amcl" name="amcl" >
 	<param name="odom_model_type"           value="diff"/>
        <param name="odom_alpha5"               value="0.1"/>
        <param name="gui_publish_rate"          value="1.0"/>
        <param name="laser_max_beams"             value="200"/>
        <param name="laser_max_range"           value="-1.0"/>
        <param name="min_particles"             value="500"/>
        <param name="max_particles"             value="100000"/>
        <param name="kld_err"                   value="0.05"/>
        <param name="kld_z"                     value="0.99"/>
        <param name="odom_alpha1"               value="0.2"/>
        <param name="odom_alpha2"               value="0.2"/>

        <param name="odom_alpha3"               value="0.2"/>
        <param name="odom_alpha4"               value="0.2"/>
        <param name="laser_z_hit"               value="0.5"/>
        <param name="laser_z_short"             value="0.05"/>
        <param name="laser_z_max"               value="0.05"/>
        <param name="laser_z_rand"              value="0.5"/>
        <param name="laser_sigma_hit"           value="0.2"/>
        <param name="laser_lambda_short"        value="0.1"/>
        <param name="laser_model_type"          value="likelihood_field"/>

        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="update_min_d"              value="0.25"/>
        <param name="update_min_a"              value="0.2"/>
        <param name="odom_frame_id"             value="odom"/>
        <param name="base_frame_id"             value="base_link"/>
        <param name="resample_interval"         value="1"/>

        <param name="transform_tolerance"       value="0.1"/>
        <param name="recovery_alpha_slow"       value="0.001"/>
        <param name="recovery_alpha_fast"       value="0.1"/>

</node>



<node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
  <remap from="cmd_vel_out" to="cmd_velF"/>

  <rosparam file="$(arg config_locks)"  command="load"/>
  <rosparam file="$(arg config_topics)" command="load"/>
</node>

<!-- RVIZ -->
  	<node pkg="rviz" type="rviz" name="rviz">
    </node>

<!-- Navigation -->
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robot_config)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_config)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_config)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_config)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_config)/config/base_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="conservative_reset_dist" type="double" value="0.10" />
    <param name="recovery_behavior_enabled" type="bool" value="false" />
    <param name="clearing_rotation_allowed" type="bool" value="false" />
    <param name="planner_patience" type="double" value="60.0" />
    <param name="controller_patience" type="double" value="60.0" />
    <param name="controller_frequency" type="double" value="5.0" />

</node>


<arg name="node_name"             value="velocity_smoother"/>
  <arg name="nodelet_manager_name"  value="nodelet_manager"/>
  <arg name="config_file"           value="$(find yocs_velocity_smoother)/param/standalone.yaml"/>
  <arg name="raw_cmd_vel_topic"     value="cmd_vel"/>
  <arg name="smooth_cmd_vel_topic"  value="smooth_cmd_vel"/>
  <arg name="robot_cmd_vel_topic"   value="cmd_velF"/>
  <arg name="odom_topic"            value="odom"/>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

  <!-- velocity smoother -->
  <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
    <arg name="node_name"             value="$(arg node_name)"/>
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="config_file"           value="$(arg config_file)"/>
    <arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
    <arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
    <arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
    <arg name="odom_topic"            value="$(arg odom_topic)"/>
  </include>



<!-- Axis Camera -->
<group ns="$(arg camera_name)">
  <param name="hostname" value="$(arg hostname)" />
  <param name="width" value="640" />
  <param name="height" value="480" />
  <node pkg="axis_camera" type="axis.py" name="axis" />
  <node pkg="axis_camera" type="axis_ptz.py" name="axis_ptz" if="$(arg enable_ptz)" />

  <node pkg="image_transport" type="republish" name="republish"
        args="compressed" if="$(arg enable_theora)">
    <remap from="in" to="image_raw" />
    <remap from="out" to="image_raw_out" />
  </node>

  <node pkg="axis_camera" type="teleop.py" name="teleop" if="$(arg enable_ptz_teleop)">
    <param name="enable_button" value="1" />
    <param name="scale_pan_deg" value="25" />
    <param name="scale_tilt_deg" value="25" />
    <remap from="joy" to="/joy" />
  </node>

</group>


<arg name="port" default="9090" />
  <arg name="address" default="" />
  <arg name="ssl" default="false" />
  <arg name="certfile" default=""/>
  <arg name="keyfile" default="" />

  <arg name="retry_startup_delay" default="5" />

  <arg name="fragment_timeout" default="600" />
  <arg name="delay_between_messages" default="0" />
  <arg name="max_message_size" default="None" />

  <arg name="authenticate" default="false" />

  <group if="$(arg ssl)">
    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
      <param name="certfile" value="$(arg certfile)" />
      <param name="keyfile" value="$(arg keyfile)" />
      <param name="authenticate" value="$(arg authenticate)" />
      <param name="port" value="$(arg port)"/>
      <param name="address" value="$(arg address)"/>
      <param name="retry_startup_delay" value="$(arg retry_startup_delay)"/>
      <param name="fragment_timeout" value="$(arg fragment_timeout)"/>
      <param name="delay_between_messages" value="$(arg delay_between_messages)"/>
      <param name="max_message_size" value="$(arg max_message_size)"/>
    </node>
  </group>
  <group unless="$(arg ssl)">
    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
      <param name="authenticate" value="$(arg authenticate)" />
      <param name="port" value="$(arg port)"/>
      <param name="address" value="$(arg address)"/>
      <param name="retry_startup_delay" value="$(arg retry_startup_delay)"/>
      <param name="fragment_timeout" value="$(arg fragment_timeout)"/>
      <param name="delay_between_messages" value="$(arg delay_between_messages)"/>
      <param name="max_message_size" value="$(arg max_message_size)"/>
    </node>
  </group>

  <node name="rosapi" pkg="rosapi" type="rosapi_node" />

  <node pkg="robot_stats" name="vel_listener" type="vel_listener" output="screen">
  </node>
  <node pkg="ptserver" name="ptserver_node" type="ptserver_node" output="screen">
  <param name="route" value="1" />
  </node>

</launch>
